{{define "title"}}hellogo{{end}}

{{define "cotener"}}

<div class="container center-block">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Editor</h3>
        </div>
		<form action="/editor" method="post">
		  标题
		  <input name="title" type="text" class="form-control"/>
		  内容
		 <input name="content" type="text" class="form-control"/>
		<br>
		 <input type="submit" class="btn btn-default" />
		</form>
      </div>
    </div>

{{end}}