{{define "title"}}hellogo{{end}}

{{define "cotener"}}

<div class="container center-block">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Blog</h3>
        </div>
        <ul class="list-group">
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/12/12/tesla-model-s">Tesla Model S的设计失误</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/11/21/programming-philosophy">编程的智慧</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/10/18/turing">图灵的光环</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/09/19/parser">谈谈Parser</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/07/04/math">数学和编程</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/07/02/program-correctness">谈程序的正确性</a>
          </li>

                    <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/12/12/tesla-model-s">Tesla Model S的设计失误</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/11/21/programming-philosophy">编程的智慧</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/10/18/turing">图灵的光环</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/09/19/parser">谈谈Parser</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/07/04/math">数学和编程</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/07/02/program-correctness">谈程序的正确性</a>
          </li>
		
		          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/12/12/tesla-model-s">Tesla Model S的设计失误</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/11/21/programming-philosophy">编程的智慧</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/10/18/turing">图灵的光环</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/09/19/parser">谈谈Parser</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/07/04/math">数学和编程</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/07/02/program-correctness">谈程序的正确性</a>
          </li>
		          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/12/12/tesla-model-s">Tesla Model S的设计失误</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/11/21/programming-philosophy">编程的智慧</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/10/18/turing">图灵的光环</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/09/19/parser">谈谈Parser</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/07/04/math">数学和编程</a>
          </li>
          
          <li class="list-group-item title">
            <a href="http://yinwang.org/blog-cn/2015/07/02/program-correctness">谈程序的正确性</a>
          </li>
        </ul>
      </div>
    </div>

{{end}}